.App {
  text-align: center;
}
.chart-parent{
  width: calc(100% - 100px);
  height: 400px;
  background: rgba(0, 4, 6, 0.9);
  margin:0px 50px;
  margin-top:20px;
  overflow:hidden;
}
.tab_parent {
	display: flex;
	max-width: 500px;
	flex-wrap: nowrap;
	justify-content: space-around;
	color: white;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 10px;
}
.tab{
  padding:5px;
  cursor:pointer;
}
.tab[aria-selected="true"]{
  border-bottom:4px solid blue;
}
select {	
	cursor: pointer;
	background: rgb(19, 19, 19) none repeat scroll 0% 0%;
	border: 1px solid rgb(79, 79, 79);
	color: rgb(255, 255, 255);
	padding: 10px;
}
.select_option_mobile{
  width:100%;
  display:none;
}
.select_option_mobile select{
  width:90%;
  margin-top: 20px;
}

@media screen and (max-width:600px) {
  .chart-parent{
    width:calc(100% - 20px);
    margin:5px;
  }
}

@media screen and (max-width:420px) {
  .select_option_mobile{
    display:block;
  }
  .select_option{
    display:none;
  }
}